smart-contracts/test/Lock.js
smart-contracts/scripts/deploy.js
smart-contracts/contracts/Lock.sol
smart-contracts/contracts/Lock.sol
server/.env
server/node_modules
smart-contracts/contracts/functions.sol
smart-contracts/hardhat.config.js
smart-contracts/scripts/medals.js
